@page
@model MySQLWeb.Pages.Database.DeleteUserModel
@{
  ViewData["Title"] = "ユーザー削除";
}
<h1>@ViewData["Title"]</h1>

<h3>このユーザーを削除しますか？</h3>
<hr>
<div>
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.IdentityUser.Id)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.IdentityUser.Id)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.IdentityUser.UserName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.IdentityUser.UserName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.IdentityUser.Email)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.IdentityUser.Email)
    </dd>
  </dl>
  <form method="post">
    <input type="hidden" asp-for="IdentityUser.Id" />
    <input type="submit" value="削除" class="btn btn-danger" /> | 
    <a asp-page="./Index">戻る</a>
  </form>
</div>
